.Meme{
   
    display: flex;
    flex-direction: column;
    width: 1000px;
    
}

.Memespace{
    display: grid;
    align-items: center;
    grid-row-gap:100px ;
    
background-attachment: fixed;
}

/* .Meme img {
    width: 6000px;
    height: 800px;
    object-fit: scale-down;
  } */

.Navbar{
     
    height: 30vh;
    align-items: center;
    border: 2px solid black ;
}